body {
  background: url("Paradise_Hotel.jpeg");
  opacity: 80%;
  background-size: cover;
}

h1 {
  color: white;
  font-weight: bold;
}

div>button {
  border: 2px solid white;
  font-weight: bold;
}

.leading-tight {
  color: red;
  font-weight: bold;
}

.text-right {
  color: white;
  font-weight: bold;
}